// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./base";

// Write your sass code here or import partials

body,
button {
  color: $fontGrey;
  font-size: 2rem;
  font-family: $fontComfortaa;
  text-align: left;
}

.headerMobile {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: $bgPink;

  .headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      font-family: $fontCinzelDecorative;
      font-size: 4.5rem;
      color: $fontGrey;

      span {
        font-size: 7rem;
        color: $fontGrey;
        color: $fontPink;
        text-shadow: 5px 5px 4px $fontGrey;
      }
    }

    nav {
      display: flex;
      flex-direction: column;

      a {
        font-size: 2.5rem;
        color: $fontGrey;
        transition: color 1s ease;

        text-decoration: none;
        padding-left: 0.5rem;

        &:hover {
          color: $fontPink;
        }
      }
    }
  }

  .headerTitle {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0 auto;
        top: 40%;
        left: 15%;
    
        h2 {
          width: 80vw;
          font-size: 3.5rem;
          font-family: $fontCinzelDecorative;
    
          span {
            font-size: 5rem;
            color: $fontPink;
          }
    
          &:nth-of-type(2) {
            margin-top: 1.5rem;
          }
        }
      }

    .contentTitle,
    .contentTitle-sub {
      display: flex;
      flex-direction: row;
      align-items: end;
    }

    .contentTitle-sub {
      p {
        animation-name: titleAnimation;
        animation-duration: 7s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        position: bottom;
      }

      p:nth-of-type(1) {
        animation-delay: 0s;
      }

      p:nth-of-type(2) {
        animation-delay: 0.1s;
      }

      p:nth-of-type(3) {
        animation-delay: 0.2s;
      }

      p:nth-of-type(4) {
        animation-delay: 0.3s;
      }

      p:nth-of-type(5) {
        animation-delay: 0.4s;
      }

      p:nth-of-type(6) {
        animation-delay: 0.5s;
      }

      p:nth-of-type(7) {
        animation-delay: 0.6s;
      }

      p:nth-of-type(8) {
        animation-delay: 0.7s;
      }

      p:nth-of-type(9) {
        animation-delay: 0.8s;
      }

      p:nth-of-type(10) {
        animation-delay: 0.9s;
      }

      p:nth-of-type(11) {
        animation-delay: 1s;
      }

      p:nth-of-type(12) {
        animation-delay: 1.1s;
      }

      p:nth-of-type(13) {
        animation-delay: 1.2s;
      }

      @keyframes titleAnimation {
        0% {
          opacity: 0;
        }

        .5% {
          color: #6d6d6d;
        }

        10% {
          color: #606060;
        }

        20% {
          color: #565656;
        }

        30% {
          color: #4b4a4a;
        }

        35% {
          color: #3b3b3b;
        }

        50% {
          color: $fontGrey;
        }

        65% {
          color: #3b3b3b;
        }

        70% {
          color: #4b4a4a;
        }

        80% {
          color: #565656;
        }

        90% {
          color: #6d6d6d;
        }

        100% {
          color: #b9b9b97b;
        }
      }
    }

    .titleSpace1 {
      margin: 0 0.5rem;
      vertical-align: middle;
    }

    .titleSpace2 {
      margin: 0 2rem;
      vertical-align: middle;
    }
  }

// .headerMobile {
//   display: flex;
//   flex-direction: column;
//   position: relative;

//   width: 100%;
//   height: 100vh;
//   padding: 2rem;
//   background-color: $bgPink;

//   .headerNav {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;

//     h1 {
//       font-family: $fontCinzelDecorative;
//       font-size: 4.5rem;
//       color: $fontGrey;

//       span {
//         font-size: 7rem;
//         color: $fontGrey;
//         color: $fontPink;
//         text-shadow: 5px 5px 4px $fontGrey;
//       }
//     }

//     nav {
//       display: flex;
//       flex-direction: column;

//       a {
//         font-size: 2.5rem;
//         color: $fontGrey;
//         transition: color 1s ease;

//         text-decoration: none;
//         padding-left: 0.5rem;

//         &:hover {
//           color: $fontPink;
//         }
//       }
//     }
//   }

//   .headerTitle {
//     display: flex;
//     flex-direction: column;
//     position: absolute;
//     margin: 0 auto;
//     top: 40%;
//     left: 15%;

//     h2 {
//       width: 80vw;
//       font-size: 3.5rem;
//       font-family: $fontCinzelDecorative;

//       span {
//         font-size: 5rem;
//         color: $fontPink;
//       }

//       &:nth-of-type(2) {
//         margin-top: 1.5rem;
//       }
//     }
//   }
// }

.headerTablet {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: $bgPink;

  .headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      font-family: $fontCinzelDecorative;
      font-size: 4.5rem;
      color: $fontGrey;

      span {
        font-size: 7rem;
        color: $fontGrey;
        color: $fontPink;
        text-shadow: 5px 5px 4px $fontGrey;
      }
    }

    nav {
      display: flex;
      flex-direction: column;

      a {
        font-size: 2.5rem;
        color: $fontGrey;
        transition: color 1s ease;

        text-decoration: none;
        padding-left: 0.5rem;

        &:hover {
          color: $fontPink;
        }
      }
    }
  }

  .headerTitle {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    top: 40%;
    left: 25%;

    h2 {
      width: 50vw;
      font-size: 3.5rem;
      font-family: $fontCinzelDecorative;

      span {
        font-size: 5rem;
        color: $fontPink;
      }

      &:nth-of-type(2) {
        margin-top: 1.5rem;
      }
    }
  }
  .contentTitle,
  .contentTitle-sub {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .contentTitle-sub {
    p {
      animation-name: titleAnimation;
      animation-duration: 7s;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;
      position: bottom;
    }

    p:nth-of-type(1) {
      animation-delay: 0s;
    }

    p:nth-of-type(2) {
      animation-delay: 0.1s;
    }

    p:nth-of-type(3) {
      animation-delay: 0.2s;
    }

    p:nth-of-type(4) {
      animation-delay: 0.3s;
    }

    p:nth-of-type(5) {
      animation-delay: 0.4s;
    }

    p:nth-of-type(6) {
      animation-delay: 0.5s;
    }

    p:nth-of-type(7) {
      animation-delay: 0.6s;
    }

    p:nth-of-type(8) {
      animation-delay: 0.7s;
    }

    p:nth-of-type(9) {
      animation-delay: 0.8s;
    }

    p:nth-of-type(10) {
      animation-delay: 0.9s;
    }

    p:nth-of-type(11) {
      animation-delay: 1s;
    }

    p:nth-of-type(12) {
      animation-delay: 1.1s;
    }

    p:nth-of-type(13) {
      animation-delay: 1.2s;
    }

    @keyframes titleAnimation {
      0% {
        opacity: 0;
      }

      .5% {
        color: #6d6d6d;
      }

      10% {
        color: #606060;
      }

      20% {
        color: #565656;
      }

      30% {
        color: #4b4a4a;
      }

      35% {
        color: #3b3b3b;
      }

      50% {
        color: $fontGrey;
      }

      65% {
        color: #3b3b3b;
      }

      70% {
        color: #4b4a4a;
      }

      80% {
        color: #565656;
      }

      90% {
        color: #6d6d6d;
      }

      100% {
        color: #b9b9b97b;
      }
    }
  }

  .titleSpace1 {
    margin: 0 0.5rem;
    vertical-align: middle;
  }

  .titleSpace2 {
    margin: 0 2rem;
    vertical-align: middle;
  }
}

.headerDesktop {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-color: $bgPink;

  .headerNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    font-family: $fontCinzelDecorative;
    font-size: 6rem;
    color: $fontGrey;
    white-space: nowrap;

    span {
      font-size: 8rem;
      color: $fontGrey;
      color: $fontPink;
      text-shadow: 5px 5px 4px $fontGrey;
    }
  }

  nav {
    a {
      font-size: 2.5rem;
      color: $fontGrey;

      text-decoration: none;
      padding-left: 0.5rem;

      &:hover {
        color: $fontPink;
        transition: color 2s ease;
      }
    }
  }

  .headerTitle {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 4rem;
      font-family: $fontCinzelDecorative;

      span {
        font-size: 6rem;
        color: $fontPink;
      }
    }

    .contentTitle,
    .contentTitle-sub {
      display: flex;
      flex-direction: row;
      align-items: end;
    }

    .contentTitle-sub {
      p {
        animation-name: titleAnimation;
        animation-duration: 7s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        position: bottom;
      }

      p:nth-of-type(1) {
        animation-delay: 0s;
      }

      p:nth-of-type(2) {
        animation-delay: 0.1s;
      }

      p:nth-of-type(3) {
        animation-delay: 0.2s;
      }

      p:nth-of-type(4) {
        animation-delay: 0.3s;
      }

      p:nth-of-type(5) {
        animation-delay: 0.4s;
      }

      p:nth-of-type(6) {
        animation-delay: 0.5s;
      }

      p:nth-of-type(7) {
        animation-delay: 0.6s;
      }

      p:nth-of-type(8) {
        animation-delay: 0.7s;
      }

      p:nth-of-type(9) {
        animation-delay: 0.8s;
      }

      p:nth-of-type(10) {
        animation-delay: 0.9s;
      }

      p:nth-of-type(11) {
        animation-delay: 1s;
      }

      p:nth-of-type(12) {
        animation-delay: 1.1s;
      }

      p:nth-of-type(13) {
        animation-delay: 1.2s;
      }

      @keyframes titleAnimation {
        0% {
          opacity: 0;
        }

        .5% {
          color: #6d6d6d;
        }

        10% {
          color: #606060;
        }

        20% {
          color: #565656;
        }

        30% {
          color: #4b4a4a;
        }

        35% {
          color: #3b3b3b;
        }

        50% {
          color: $fontGrey;
        }

        65% {
          color: #3b3b3b;
        }

        70% {
          color: #4b4a4a;
        }

        80% {
          color: #565656;
        }

        90% {
          color: #6d6d6d;
        }

        100% {
          color: #b9b9b97b;
        }
      }
    }

    .titleSpace1 {
      margin: 0 0.5rem;
      vertical-align: middle;
    }

    .titleSpace2 {
      margin: 0 2rem;
      vertical-align: middle;
    }
  }
}

// .headerDesktop {
//   display: none;
//   flex-direction: column;
//   width: 100%;
//   height: 100vh;
//   padding: 2rem;
//   background-color: $bgPink;

//   .headerNav {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }

//   h1 {
//     font-family: $fontCinzelDecorative;
//     font-size: 6rem;
//     color: $fontGrey;
//     white-space: nowrap;

//     span {
//       font-size: 8rem;
//       color: $fontGrey;
//       color: $fontPink;
//       text-shadow: 5px 5px 4px $fontGrey;
//     }
//   }

//   nav {
//     a {
//       font-size: 2.5rem;
//       color: $fontGrey;

//       text-decoration: none;
//       padding-left: 0.5rem;

//       &:hover {
//         color: $fontPink;
//         transition: color 2s ease;
//       }
//     }
//   }

//   .headerTitle {
//     display: flex;
//     width: 100%;
//     height: 100vh;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;

//     h2 {
//       font-size: 4rem;
//       font-family: $fontCinzelDecorative;

//       span {
//         font-size: 6rem;
//         color: $fontPink;
//       }
//     }

//     p {
//       margin: 0 2rem;
//       font-size: 2.5rem;
//       vertical-align: middle;
//     }
//   }
// }

section {
  padding: 5rem 2rem;
}

#about {
  img {
    width: 30rem;
    margin-bottom: 1.5rem;
  }

  div,
  p {
    margin: 1rem 0 1rem 1.5rem;
  }
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 1.5rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0.5rem 0 2rem 1.5rem;
}

.recommendations {
  padding: 3rem;

  p {
    font-size: 1.9rem;
    font-style: italic;
    background-color: white;
    box-shadow: 0 0 1px rgba(134, 133, 133, 0.588);
    padding: 1.5rem;
  }

  span {
    content: "";
    display: block;
    height: 1rem;
  }
}

#about,
.apps,
.lp {
  background-color: $bgWhite;
}

#projects,
.hp,
#contact,
footer {
  background-color: $bgPink;
}

#projects,
.apps,
.contentHPs,
.contentApps {
  img {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    width: 100%;
  }
}

.appImage {
  text-align: center;

  img {
    width: 70%;
  }
}

.contentProjects,
.contentApps {
  p:nth-of-type(2) {
    font-style: italic;
    font-size: 1.5rem;
    margin-top: -1rem;
  }
}

.contentHPs,
.contentLPs {
  margin-bottom: 5rem;
  text-align: center;

  img {
    width: 80%;
    margin-bottom: 5rem;
  }
}

button {
  cursor: pointer;
  background-color: #f0f0f3;
  width: 100%;
  height: 6rem;
  margin: 2rem 0 5rem 0;

  border-style: none;
  border-radius: 0.5rem;
  box-shadow: inset 10px 10px 10px 0 #ffffff, inset -10px -10px 10px 0 #cfcfdd9e,
    10px 10px 30px 0 #cfcfdd9e, -10px -10px 30px 0 #ffffff;

  &:hover {
    color: $fontPink;
    box-shadow: inset 10px 10px 10px 0 #cfcfdd9e,
      inset -10px -10px 10px 0 #ffffff, 10px 10px 30px 0 #ffffff,
      -10px -10px 30px 0 #cfcfdd9e;

    transition-property: box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  &:before {
    margin: 0 1rem 0 3rem;
    content: "\f138";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  img:nth-of-type(1) {
    margin: 2rem 0;
  }

  h3,
  h4 {
    margin: 0;
  }

  input,
  textarea {
    width: 100%;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(233, 230, 230, 0.964);
    margin: 1rem 0;
    padding: 1rem;
  }

  input:focus,
  textarea:focus {
    outline: none;
    border: 0.1rem solid rgba(134, 133, 133, 0.588);
  }

  a img {
    width: 3.5rem;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
}

#contact a,
footer {
  img:hover {
    transform: scale(1.15);
    transition: transform 2s ease;
    opacity: 0.7;
  }
}

footer {
  div:nth-of-type(1) {
    position: fixed;
    bottom: 0;
    display: flex;
  }

  div:nth-of-type(2) {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  a {
    text-decoration: none;
    color: $fontGrey;

    &:hover {
      color: $fontPink;
      transition: color 2s ease;
    }
  }

  p {
    margin: 0.8rem;
  }

  img {
    width: 4.4rem;
    height: 4.4rem;
    padding: 0.1rem;
  }
}

@media only screen and (max-width: 767px) {
  .headerTablet,
  .headerDesktop {
    display: none;
  }

  footer div:nth-of-type(2) {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4rem;

    p {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .headerTablet {
    display: flex;
  }

  .headerMobile,
  .headerDesktop {
    display: none;
  }

  footer div:nth-of-type(2) {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4rem;

    p {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .headerDesktop {
    display: flex;
  }

  .headerMobile,
  .headerTablet {
    display: none;
  }

  section {
    padding: 5rem 10rem;
  }

  .contactForm {
    width: 50%;
    margin: 0 auto;
  }
}
